{% extends 'base.html' %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock title %}


{% block main %}

<div class="card"">
    <div class="card-body">
        <h5 class="card-title">{{ object }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Directed by {{ object.director }}</h6>
        <hr>
        <p class="card-text">{{ object.plot }}</p>
        <hr>
        <p class="text-muted">Runtime: {{ object.runtime }} Minutes</p>
        <p class="text-muted">Writers: 
        {% for writer in object.writers.all %}
            {{ writer.first_name }} {{ writer.last_name }},
        {% endfor %}
        </p>
        <p class="text-muted">Actors:
            {% for actor in object.actors.all %}
            {{ actor.first_name }} {{ actor.last_name }},
            {% endfor %}
        </p>
        {% if object.website %}
            <a href="{{ object.website }}" class="card-link">Movie Website</a>
        {% endif %}
        <hr>
        
        <ul class="movie-image list-inline">
            {% for i in object.movieimage_set.all %}
            <li class="list-inline-item">
                <img src="{{ i.image.url }}" alt="Image">
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
    
{% endblock main %}


{% block sidebar %}
<div class="card">
    <div class="card-body">
        {% if vote_form %}
        <form action="{{ vote_form_url }}" method="post">
            {% csrf_token %}
            {{ vote_form.as_p }}
            <button type="submit" class="btn btn-primary">Vote</button>
        </form>
        {% else %}
        <p>Login to vote for this movie</p>
        {% endif %}
        <hr>
        {% if image_form %}
        <div>
            <h4>Upload new image</h4>
            <form action="{% url 'core:MovieImageUpload' object.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ image_form.as_p }}
                <p><button type="submit" class="btn btn-primary">Upload</button></p>
            </form>
        </div>
        {% endif %}
        <hr>
        <h4>Score: {{ object.score|default_if_none:'TBD' }}</h4>
        <div>
            This movie is rated:
            <span class="badge badge-primary">
                {{ object.get_rating_display }}
            </span>
        </div>
    </div>
</div>


{% endblock sidebar %}
    
    